<div class="row">
  <div class="col-md-12">
    <h2 class="card-title">STRUCTURE DETAILs</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <h6 class="card-title">#</h6>
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-title">{{lineItemSize}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          # LINE ITEM
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12">
    <h6 class="card-title">MODEL BY FORMAT</h6>
    <div class="card card-body">
      <apx-chart #chartModelFormat [chart]="chartModelFormatOpt.chart" [plotOptions]="chartModelFormatOpt.plotOptions"
        [dataLabels]="chartModelFormatOpt.dataLabels" [series]="chartModelFormatOpt.series"
        [xaxis]="chartModelFormatOpt.xaxis" [yaxis]="chartModelFormatOpt.yaxis">
      </apx-chart>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <h5 class="card-title">MOST USED LIST (TOPS)</h5>
    <div class="card card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <th *ngFor="let idx of mostusedlist.showHeaderIdx">
              {{mostusedlist.headerRow[idx]}}
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let row of mostusedlist.dataRows">
              <td *ngFor="let idx of mostusedlist.showHeaderIdx">
                {{row[idx]}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <h5 class="card-title">MOST USED LIST (TOPS)</h5>
    <div class="card card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <th *ngFor="let idx of mostusedlist.showHeaderIdx">
              {{mostusedlist.headerRow[idx]}}
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let row of mostusedlist.dataRows">
              <td *ngFor="let idx of mostusedlist.showHeaderIdx">
                {{row[idx]}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <h5 class="card-title">MOST USED LIST (TOPS)</h5>
    <div class="card card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <th *ngFor="let idx of mostusedlist.showHeaderIdx">
              {{mostusedlist.headerRow[idx]}}
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let row of mostusedlist.dataRows">
              <td *ngFor="let idx of mostusedlist.showHeaderIdx">
                {{row[idx]}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
