<div class="row">
  <div class="col-12">
    <h2 class="card-title">List Details</h2>
  </div>
</div>
<div style="height: 80vh">
  <div class="row h-100">
    <div class="col-10">
      <div class="card card-body h-100">
        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham" [rowData]="listDataList"
          [columnDefs]="listDisplayedColumnDefs" [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)"
          (rowClicked)="onRowSelected($event)">
        </ag-grid-angular>
      </div>
    </div>
    <div class="col-2 p-0 m-0" style="max-height:100%">
      <div class="card card-body h-100 m-0 pr-1">
        <h6>Details</h6>
        <div *ngIf="selectedRow else notTemplate" style="overflow-y: auto;">
          <div>
            <div class="pro-title">Name</div>
            <div class="pro-content pl-1">{{selectedRow.name}}</div>
          </div>

          <div>
            <div class="pro-title">Parent</div>
            <div class="pro-content pl-1">{{selectedRow.parent}}</div>
          </div>

          <div>
            <div class="pro-title">Numbered</div>
            <div class="pro-content pl-1">{{selectedRow.numbered?'true':'false'}}</div>
          </div>

          <div>
            <div class="pro-title">Properties</div>
            <div class="pro-content pl-1">
              <ul>
                <li *ngFor="let pro of selectedRow.propertiesLabelPage.labels">
                  {{pro}}
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="pro-title">Subsets</div>
            <div class="pro-content pl-1">
              <ul>
                <li *ngFor="let subset of selectedRow.subsetEntityLongIds">
                  {{subset}}
                </li>
              </ul>
            </div>
          </div>

        </div>
        <ng-template #notTemplate>
          List is not selected yet.
        </ng-template>
      </div>
    </div>
  </div>
</div>
